/* src/components/ProjectPage.css */

.project-page {
    padding: 2rem;
    background-color: #002b36;
    color: #93a1a1;
}

.project-page h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #A3BE8C;
}

.project-page ul {
    padding-left: 1.5rem;
}

.project-page ul li {
    list-style-type: disc;
    margin-bottom: 0.5rem;
}
